config 'gfw-dns' 'general'
	option 'enabled' '1'
	# list of gfw poisoned domains
	list 'domains' 'www.twitter.com'
	list 'domains' 'twitter.com'
	list 'domains' 'www.facebook.com'
	list 'domains' 'facebook.com'
	list 'domains' 'www.youtube.com'
	list 'domains' 'youtube.com'
	list 'domains' 'encrypted.google.com'
	list 'domains' 'plus.google.com'
	list 'domains' 'www.appspot.com'
	list 'domains' 'appspot.com'
	list 'domains' 'www.openvpn.net'
	list 'domains' 'openvpn.net'
	list 'domains' 'forums.openvpn.net'
	list 'domains' 'svn.openvpn.net'
	list 'domains' 'shell.cjb.net'
	# number of repeat times
	option 'loops' '1'
