config 'gfw-dualpptp' 'general'
	option 'enabled' '1'

config 'interface'
	option 'interface' 'wall'
	option 'mtu' '1380'

config 'interface'
	option 'interface' 'bwall'
	option 'mtu' '1448'

config 'dual'
	option 'mainvpn' 'wall'
	option 'secondaryvpn' 'bwall'

# you can use more then two secondary vpn
#config 'interface'
#	option 'interface' 'bwall2'
#	option 'mtu' '1448'
#config 'interface'
#	option 'interface' 'bwall3'
#	option 'mtu' '1448'
#config 'dual'
#	option 'mainvpn' 'wall'
#	option 'secondaryvpn' 'bwall2'
#config 'dual'
#	option 'mainvpn' 'wall'
#	option 'secondaryvpn' 'bwall3'

# you can use one secondary vpn for more then two main vpn
#config 'interface'
#	option 'interface' 'wall2'
#	option 'mtu' '1380'
#config 'interface'
#	option 'interface' 'wall3'
#	option 'mtu' '1380'
#config 'dual'
#	option 'mainvpn' 'wall2'
#	option 'secondaryvpn' 'bwall'
#config 'dual'
#	option 'mainvpn' 'wall3'
#	option 'secondaryvpn' 'bwall'

# note that you can't use one interface for both main and secondary vpn
