config 'gfw-vpn' 'general'
	option 'enabled' '1'

# http
config 'rule'
	# interface of vpn
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '80'

# https
config 'rule'
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '443'

# dns
config 'rule'
	option 'interface' 'wall'
	option 'proto' 'udp'
	option 'port' '53'

# smtp
config 'rule'
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '25'

# msa
config 'rule'
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '587'

# smtps
config 'rule'
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '465'

# pop3
config 'rule'
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '110'

# pop3s
config 'rule'
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '995'

# imap
config 'rule'
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '143'

# imaps
config 'rule'
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '993'

# youtube streaming
#config 'rule'
#	option 'interface' 'wall'
#	option 'proto' 'tcp'
#	option 'port' '1935'
#
