config 'gfw-vpn' 'general'
	option 'enabled' '1'

# http
config 'rule'
	# interface of vpn
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '80'

# https
config 'rule'
	option 'interface' 'wall'
	option 'proto' 'tcp'
	option 'port' '443'

# youtube streaming
#config 'rule'
#	option 'interface' 'wall'
#	option 'proto' 'tcp'
#	option 'port' '1935'
#
# dns
#config 'rule'
#	option 'interface' 'wall'
#	option 'proto' 'udp'
#	option 'port' '53'
